

body{
    font-family: 'Amaranth', sans-serif;
    text-align: center
}


#pag1
{
    margin: 100pt 150pt 100pt;
    font-size: 20px;
}

img{
    width:250px;
    height:250px;
    margin: 30px 100px;
   } 
   
#pag2{
    margin: 150pt 150pt 150pt;
    }
    button{
        background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #000000;
    font-size: 17px;
    margin: 15px 170px;
    padding: 10px 26px;
    text-align: center;
    }

#pag3{
    margin: 100pt 150pt 100pt;
    font-size: 20px;
}
#pag4{
    margin: 100pt 150pt 100pt;
    font-size: 20px;

}
